{% include header.html %}

{{ content }}

<nav class="archive-links">
    {% if page.type == 'movie' %}movies{% else %}<a href="/archive/movies">movies</a> {% endif %} &bull;
    {% if page.type == 'tv' %}tv{% else %}<a href="/archive/tv">tv</a> {% endif %} &bull;
    {% if page.type == 'game' %}games{% else %}<a href="/archive/games">games</a> {% endif %} &bull;
    {% if page.type == 'book' %}books{% else %}<a href="/archive/books">books</a> {% endif %} &bull;
    {% if page.type == 'music' %}music{% else %}<a href="/archive/music">music</a> {% endif %}
</nav>

<div>
    {% if page.type %} 
        {% assign archivePosts = site.categories[page.type] %}
    {% else %}
        {% assign archivePosts = site.posts %}
    {% endif %}

    {% assign datePrinted = false %}
    {% assign currentYear = 1000 %}

    {% assign postCount = archivePosts | size %}

    {% if postCount == 0 %}
        <p>No posts yet</p>
    {% endif %}

    {% for post in archivePosts %}

        {% assign postYear = post.date | date: "%Y" %}

        {% unless postYear == currentYear %}
            <h2>{{ postYear }}</h2>
        {% endunless %}

        {% assign currentYear = postYear %}

        <p>
            <img src="/assets/img/icons/{{ post.category }}.png" class="archive-icon"> <span class="post--rating-{{ post.rate }}">&bull;</span> <span class="subtitle">
                {{ post.date | date: "%d/%m" }}
            </span> <a href="{{ post.url }}">{{ post.title }}</a>
        </p>
        
    {% endfor %}
</div>

{% include footer.html %}